//@theme "/home/queue/.local/share/rofi/themes/nord.rasi"
//@theme "/home/queue/.local/share/rofi/themes/nord.rasi"
//@theme "/home/queue/.local/share/rofi/themes/nord-oneline.rasi"
@theme "/home/queue/.local/share/rofi/themes/nord.rasi"
